.box-moveis {
  width: 300px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0;
}

.box-moveis__movie {
  background: unset;
  border: unset;

  margin: 0 16px 0 0;
  text-decoration: none;
  font-family: "Inter", Georgia, "Times New Roman", Times, serif;
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 18px;
  text-align: right;
  color: #ffffff;
  cursor: pointer;
}

.box-moveis__stored-movie {
  background: unset;
  border: unset;

  text-decoration: none;
  font-family: "Inter", Georgia, "Times New Roman", Times, serif;
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 18px;
  text-align: right;
  color: #ffffff;
  cursor: pointer;
}

.box-moveis__movie:hover {
  opacity: 0.8;
}

@media (max-width: 767px) {
  .box-moveis {
    display: none;
  }
}
