.box-account {
  display: flex;
  flex-direction: row;
  align-items: center;
  box-sizing: border-box;
  width: 100px;
  max-height: 30px;
  justify-content: space-between;
}
.box-account__link {
  background: none;
  border: none;
  cursor: pointer;
  margin: 0;
  font-family: "Inter", Georgia, "Times New Roman", Times, serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  text-decoration: none;
  color: #ffffff;
}

.box-account__link:hover {
  opacity: 0.6;
}

.box-account__image {
  max-width: 30px;
  max-height: 30px;
  background-repeat: no-repeat;
  background-size: contain;
  margin: 0;
}
.box-account__button-profile {
  width: 30px;
  height: 30px;
  background: #313131;
  border-radius: 6px;
  border: none;
  margin: 0;
  padding: 0;
}
